/* RecommendGenre.css */
#RecommendGenre ul {
    display: grid; 
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    ); 
    gap: 30px; 
    margin-top: 20px;
    flex-wrap: wrap;
    /* align-items: end; */
}
#RecommendGenre ul>div{
    height: 450px;
    display: flex;
}
#RecommendGenre .recommend-more button{
    filter: invert(100%);

}
#RecommendGenre .recommend-more{
    width: 128px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}
#RecommendGenre .recommend-more:hover{
    transform: scale(1.05);
}
#RecommendGenre #movieItem a{
        height: 384px;
    width: 256px;
}
#RecommendGenre #movieItem .img{
    height: 384px;
    width: 256px;
}
