/* RecommendDirector.css */
#RecommendDirector ul {
    display: grid; /* 그리드 레이아웃을 사용합니다. */
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    ); /* 화면 크기에 따라 열의 개수가 자동으로 조절됩니다. */
    gap: 30px; /* 영화 카드 사이의 간격을 줍니다. */
    margin-top: 20px;
    flex-wrap: wrap;
    /* align-items: end; */
}
#RecommendDirector ul>div{
    display: flex;
}
#RecommendDirector .recommend-more button{
    filter: invert(100%);
}
#RecommendDirector .recommend-more{
    width: 128px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}
#RecommendDirector .recommend-more:hover{
    transform: scale(1.05);
}


#RecommendDirector #movieItem .img{
    height: 384px;
    width: 256px;
}