/* ActorInfo.css */

#ActorInfo {
  margin-top: 100px;
  margin-bottom: 60px;
}
#ActorInfo .actorProfile {
  display: flex;
  gap: 24px;
  align-items: end;
}
#ActorInfo .actorProfile img {
  width: 400px;
  height: 500px;
  border-radius: 15px;
}
#ActorInfo .actorInfo p {
  color: #fff;
}
#ActorInfo .actorInfo .actorName {
  font-weight: 500;
  font-size: 32px;
}
#ActorInfo .actorInfo .job {
  font-size: 24px;
}
