/* SearchMovieItem.css */
.search-movie-item {
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out; /* 마우스를 올렸을 때 부드러운 효과를 줍니다. */
  border-radius: 10px;
  overflow: hidden; /* 이미지가 밖으로 삐져나오지 않게 합니다. */
}
.search-movie-item:hover {
  transform: scale(1.05); /* 마우스를 올리면 살짝 커지게 합니다. */
}
.search-movie-item img {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  margin-bottom: 8px;
}
.search-movie-item p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.search-movie-item .movie-info {
  text-align: center;
}
