/* SortedMovieList.css */
#SortedMovieList{
    width: 1560px;
    margin: 0 auto;
    display: grid; /* 그리드 레이아웃을 사용합니다. */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* 화면 크기에 따라 열의 개수가 자동으로 조절됩니다. */
    gap: 30px; /* 영화 카드 사이의 간격을 줍니다. */
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}
#SortedMovieList>div img{
    height: 467px;
}
