/*MainPage.css*/

@charset "utf-8";

#MainPage {
  background-color: #0e0d0d;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  width: 1600px;
  margin: 100px auto;
}

#MainPage .container {
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

#MainPage .search-bar {
  position: relative;
  width: 60%;
  margin: 30px auto 50px auto;
  margin-top: 300px;
  margin-bottom: 300px;
}

#MainPage .search-bar input {
  width: 100%;
  height: 55px;
  padding: 12px 45px 12px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

#MainPage .search-bar input:focus {
  border-color: #000;
}

#MainPage .search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

#MainPage .top-movies-section,
#MainPage .event-section {
  margin-bottom: 60px;
}

#MainPage .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 30px 0;
}

#MainPage .section-header h2 {
  font-size: 28px;
  font-weight: 800;
  color: #fff;
}

#MainPage .section-header .current-time {
  font-size: 14px;
  color: #dbdbdb;
}

#MainPage .top-three-movies {
  /* max-width: 1600px; */
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-left: 80px;
  margin-bottom: 40px;
}

#MainPage .top-three-movies .movie-item {
  position: relative;
  flex: 1;
}

#MainPage .top-three-movies .movie-item img {
  width: 420px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
#MainPage .top-three-movies .movie-item img:hover {
  transform: scale(1.05);
}
#MainPage .top-three-movies .movie-item .movie-rank {
  position: absolute;
  bottom: -20px;
  left: -110px;
  font-size: 300px;
  font-weight: 900;
  color: #212121;
  -webkit-text-stroke: 4px #fff;
  line-height: 1;
}

#MainPage .remaining-top-movies {
  padding-bottom: 20px;
  padding-left: 100px;
  margin-left: -300px;
}
#MainPage .remaining-top-movies .swiper {
  overflow: hidden;
  margin-left: 150px;
}

#MainPage .remaining-top-movies .movie-item {
  flex: 1;
  position: relative;
  width: 250px;
  height: 375px;
  box-sizing: border-box;
}

#MainPage .remaining-top-movies .movie-item img {
  width: 420px;
  height: 100%;
  border-radius: 8px;
  padding-left: 100px;
  padding-right: 65px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

#MainPage .remaining-top-movies .movie-item img:hover {
  transform: scale(1.05);
}

#MainPage .remaining-top-movies .movie-item .movie-rank {
  position: absolute;
  bottom: -10px;
  right: 120px;
  width: auto;
  text-align: right;
  font-size: 200px;
  font-weight: 900;
  color: #212121;
  -webkit-text-stroke: 4px #fff;
  line-height: 1;
  letter-spacing: -40px;
}

#MainPage .remaining-top-movies .movie-item .rank-10 {
  letter-spacing: -30px;
  right: 100px;
}
#MainPage .event-container {
  display: flex;
  justify-content: space-between;
}

#MainPage .event-list {
  display: flex;
  gap: 20px;
}

#MainPage .event-list .event-item {
  margin-right: 20px;
}

#MainPage .event-item img {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

#MainPage .event-item .event-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#MainPage .no-events {
  grid-column: 1 / -1; /* 그리드 전체 너비를 차지하도록 설정 */
  text-align: center;
  color: #888;
  padding: 50px 0;
  font-size: 16px;
}

#MainPage .event-plus {
  width: 180px;
  height: 100px;
  border: 1px solid #eee;
  filter: invert(100%);
  text-align: center;
  font-weight: bold;
  margin: auto 0 auto 30px;
}
#MainPage .event-plus img {
  width: 80%;
  height: auto;
  margin-bottom: 15px;
}
#MainPage .event-plus p {
  font-size: 20px;
}
