/* MyPage.css */
.mypage-container {
  display: flex;
  max-width: 1100px;
  margin: 100px auto;
  margin-bottom: 50px;
  background-color: #141414;
  color: white;
  min-height: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* 사이드바 */
.sidebar {
  width: 240px;
  background-color: #1a1a1a;
  padding: 30px 20px;
  border-right: 1px solid #333;
}

.sidebar h2 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.menu-item {
  padding: 15px 20px;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  color: #bbb;
}

.menu-item:hover {
  background-color: #333;
  color: #fff;
}

.menu-item.active {
  background-color: #e50914;
  color: white;
  font-weight: bold;
}

/* 메인 컨텐츠 */
.content-area {
  flex: 1;
  padding: 40px;
  background-color: #141414;
}

.content-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

/* 카드 공통 스타일 */
.info-card {
  background-color: #222;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #f0f0f0;
}

.info-row.no-border {
  border-bottom: none;
}

.info-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
}

.info-text {
  font-size: 16px;
  color: red;
}


.edit-btn{
  background: none;
  border: 1px solid #ebebeb;
  padding: 6px 12px;
  border-radius: 4px;
  color: #eeeeee;
  cursor: pointer;
  font-size: 13px;
  background-color: #28a745;
}
.exit-btn{
  background-color: red;
}


.review-item{
  display: flex;
  justify-content: space-between;
}

.review-item h4 {
  margin: 0 0 10px 0;
  color: #fff;
}
.review-button{
  display: flex;
  gap: 10px;
  align-items: center;
}
.review-button .btn-update {
  background-color: #28a745;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #ffffff;
}

.review-button .btn-update:hover {
  background-color: #218838; /* 호버 시 진한 초록 */
  transform: translateY(-1px); /* 살짝 위로 뜨는 효과 */
}

/* 삭제 버튼: 빨간색 */
.btn-delete {
  background-color: #dc3545;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: #ffffff;
}

.btn-delete:hover {
  background-color: #c82333; /* 호버 시 진한 빨강 */
  transform: translateY(-1px);
}

.rating {
  color: #ffcc00;
  margin-left: 10px;
}

/*.wishlist-item ul{*/
/*  list-style: none;*/
/*  padding: 0 ;*/
/*}*/

/*.wishlist-item li{*/
/*  padding: 10px 0;*/
/*  border-bottom: 1px solid #333;*/
/*}*/

.status-badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.inquiry-item{
  display: flex;
  justify-content: space-between;
}

.info-card small{
  color: #888;
}

.manage-inquiry{
  display: flex;
  gap: 10px;
}

.status-done { background-color: #2e7d32; }
.status-wait { background-color: #c62828; }