/* SearchResultPage.css */

#SearchResult {
  width: 1600px;
  margin: 0 auto;
  margin-bottom: 160px;
}
#SearchResult .search-result {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 120px;
}
#SearchResult .search-result h1 {
  color: #fff;
}
#SearchResult .search-result h1 span {
  color: red;
}
#SearchResult .search-movie-actor {
  margin-bottom: 120px;
}
#SearchResult .search-movie-actor .page-btn {
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
#SearchResult .search-movie-actor .page-btn button {
  width: 60px;
  height: 32px;
  font-size: 32px;
}
#SearchResult .search-movie-actor .page-btn .search-movie-btn {
  color: #606060;
}
#SearchResult .search-movie-actor .page-btn .search-movie-btn.active {
  color: #fff;
}
#SearchResult .search-movie-actor .page-btn .search-actor-btn {
  color: #606060;
}
#SearchResult .search-movie-actor .page-btn .search-actor-btn.active {
  color: #fff;
}
