/* SignupPage.css */

* {
  box-sizing: border-box;
}

#SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 100px auto;
}

.signup-page {
  width: 700px;
  padding: 70px 60px;
}

#SignupPage .signup-page > div {
  margin-bottom: 15px;
}
#SignupPage .noti {
  display: none;
  font-size: 16px;
  color: red;
}
#SignupPage h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #ccc;
}
#SignupPage p {
  font-size: 24px;
  font-weight: 500;
  color: #ccc;
}
#SignupPage input {
  width: 580px;
  height: 70px;
  padding: 14px 16px;
  color: #606060;
  border: 1px solid #606060;
  border-radius: 6px;
  background-color: rgba(12, 12, 12, 0.5);
  color: #ccc;
  font-size: 24px;
}

#SignupPage input::placeholder {
  color: #606060;
  font-size: 24px;
}
#SignupPage input:focus {
  outline: none;
  border-color: #606060;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

#SignupPage .sign-email input {
  width: 510px;
}
#SignupPage .sign-email .check {
  width: 60px;
  height: 50px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #121212;
  background-color: #dbdbdb;
  border-radius: 6px;
}
#SignupPage .sign-email .check:hover {
  background-color: #acabab;
}

#SignupPage .eye {
  width: 36px;
  height: 36px;
  background-image: url("/icon/closed-eye-white.png");
  background-size: cover;
  text-indent: -99999px;
}
#SignupPage .eye.active {
  background-image: url("/icon/open-eye-white.png");
}

#SignupPage .sign-password {
  position: relative;
}
#SignupPage .sign-password .eye {
  position: absolute;
  top: 50px;
  right: 16px;
}

#SignupPage .sign-password .eye.active {
  top: 55px;
}
#SignupPage .sign-passwordCheck {
  position: relative;
}
#SignupPage .sign-passwordCheck .eye {
  position: absolute;
  top: 50px;
  right: 16px;
}
#SignupPage .sign-passwordCheck .eye.active {
  top: 55px;
}
#SignupPage .sign-nickname input {
  width: 520px;
}
#SignupPage .sign-nickname .check {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #121212;
  background-color: #dbdbdb;
  border-radius: 6px;
}
#SignupPage .sign-nickname .check:hover {
  background-color: #9b9b9b;
}
#SignupPage .sign-gender button {
  width: 280px;
  height: 70px;
  font-size: 25px;
  background-color: #dbdbdb;
  border-radius: 8px;
}
#SignupPage .sign-gender button:hover {
  color: #fff;
  background-color: #9b9b9b;
}
#SignupPage .sign-gender .woman {
  margin-left: 20px;
}
#SignupPage .sign-gender .active {
  color: #fff;
  background-color: #606060;
}
#SignupPage .sign-birthdate {
  margin-bottom: 40px;
}

#SignupPage .sign-birthdate input::-webkit-calendar-picker-indicator {
  width: 24px;
  height: 24px;
  padding: 0; /* 크롬 기본 패딩 제거 */
  margin-right: 8px;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#SignupPage .signup {
  width: 100%;
  height: 70px;
  font-size: 25px;
  color: #121212;
  background-color: #dbdbdb;
  border-radius: 8px;
}
#SignupPage .signup:hover {
  background-color: #acabab;
}
